<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Control Page</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <!-- i18next back-end loader -->
  <script src="https://unpkg.com/i18next@latest/i18next.min.js"></script>
  <script src="https://unpkg.com/i18next-http-backend@latest/i18nextHttpBackend.min.js"></script>
  <script src="https://unpkg.com/jquery-i18next@latest/jquery-i18next.min.js"></script>
  <!-- Initialization code for i18n -->
  <script src="/js/main-i18n.js"></script>
  <link rel="stylesheet" href="/css/control.css">

</head>
<body>
  <nav class="navbar navbar-dark bg-dark mb-3">
    <div class="container-fluid">
      <a class="navbar-brand me-auto" href="#" data-i18n="title">Video Sync Control</a>
      <div class="d-flex align-items-center">
        <button id="btnAddDisplay" class="btn btn-outline-light me-2" data-i18n="AddDisplay">Ajouter Display</button>
        <button id="btnUpload" class="btn btn-outline-light me-2" data-i18n="videoUpload">Uploader Vidéo</button>
        <select class="form-select w-auto me-2" id="languageSwitcher">
          <option value="en">English</option>
          <option value="fr" selected>Français</option>
        </select>
        <input type="file" id="fileInput" accept="video/*" class="d-none">
      </div>
    </div>
  </nav>
  <div class="container">
    <div class="row">

      <div class="col-md-8">
        <div id="canvasContainer">
          <video id="masterVideo" class="video-js vjs-default-skin" controls playsinline preload="auto"></video>
        </div>
      </div>
      <div class="col-md-4">
        <h5 data-i18n="listvideo">Video List</h5>
        <ul id="videoList" class="list-group mb-4"></ul>

        <h5 data-i18n="displaylist">Display List</h5>
        <ul id="displayList" class="list-group"></ul>
      </div>
    </div>
  </div>
  <footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <ul class="nav col-md-5 justify-content-start list-unstyled d-flex">
        <li class="mb-3 mb-md-0 text-body-secondary">Made By J-Diablo for you</li>
        <li class="mb-3 mb-md-0 text-body-secondary">CC BY-NC-SA 4.0
              <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="noopener noreferrer">
                <img src="https://mirrors.creativecommons.org/presskit/buttons/88x31/svg/by-nc-sa.svg" alt="CC BY-NC-SA 4.0" height="40">
              </a>
        </li>
        <li class="mb-3 mb-md-0 text-body-secondary">Version 1.0.2</li>
      </ul>
    </div>
    <ul class="nav col-md-4 justify-content-end list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="https://github.com/J8-Diablo/SyncVid-for-Minecraft-and-other/tree/main" aria-label="GitHub">GitHub</a></li>
      <li class="ms-3"><a class="text-body-secondary" href="https://www.twitch.tv/J_diablo" aria-label="Facebook">Twitch</a></li>
    </ul>
  </footer>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
  <script src="/js/control.js"></script>
</body>
</html>