<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Display</title>
  <link href="https://vjs.zencdn.net/8.5.2/video-js.css" rel="stylesheet" />
  <link rel="stylesheet" href="/css/display.css">
</head>
<body>
  <video id="slaveVideo" class="video-js vjs-default-skin" autoplay muted preload="auto"></video>
  <script src="https://vjs.zencdn.net/8.5.2/video.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/js/display.js"></script>
</body>
</html>
